body {
  background-color: #f4f2ee;
}

#navbar {
  background-color: aqua;
  height: 20vh;
}

#topMain {
  background-color: white;
  margin-block: 0.25rem;
  padding: 25px;
}
#analisis {
  background-color: white;
  margin-block: 0.5rem;
  padding: 0;
}

.analis-col {
  padding: 25px;
  padding-bottom: 10px;
}

#side {
  background-color: blueviolet;
  height: 20vh;
}

#footer {
  background-color: chartreuse;
  height: 20vh;
}

.line-div {
  background-color: #e8e8e8;
  height: 8px;
  width: 100%;
}

.not-line-div {
  background-color: #56687a;
  width: 60%;
  height: 8px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cons-list {
  width: 366px;
  background-color: #f6f8fc;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.cons-pad {
  padding: 0.9rem;
  padding-right: 2.2rem;
  position: relative;
}

.cons-pad p {
  font-size: 0.85rem;
}

.x-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.4rem;
}

.desc-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.btn-clicked {
  background-color: #dad9d9bd !important;
  border: 2px solid black;
}

.dec-btn {
  background-color: transparent;
  border: 1px solid #393a3a;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  font-weight: 600;
}

.dec-btn:hover {
  background-color: #dad9d9bd;
  border: 2px solid black;
}
h3 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

.analisis-desc p {
  font-size: 0.85rem;
}

.analisis-desc h6 {
  font-size: 0.95rem;
}

.carousel-ul {
  padding: 0;
  position: relative;
}

.carousel-overflow {
  overflow: hidden;
}
/* 
.carousel-ul {
  transform: translateX(-366px);
  transition: transform 0.25s ease 0s;
} */

.my-carousel {
  overflow: hidden;
  padding-inline: 1.5rem;
  padding-block: 1.2rem;
}

.btn-border {
  border: 0;
  border-top: 1px solid #dbdbdb;
  background-color: transparent;
}

.btn-border:hover {
  background-color: #dad9d9bd;
  border-top: 1px solid #dbdbdb;
}

.my-badge {
  background-color: #c8c8c8 !important;
  color: black;
}

.btn-crea {
  border: 1px solid #0a66c2;
  background-color: transparent;
  color: #0a66c2;
}

.btn-crea:hover {
  background-color: #70b5f933;
  border: 2px solid #0a66c2;
  color: #0a66c2;
}

.act p {
  color: #0a66c2;
}

.training-col {
  padding: 25px;
  padding-bottom: 25px;
}

.add-pen-btn {
  background-color: transparent;
  border: 0;
}

.add-pen-btn:hover {
  background-color: #ebebeb;
}

.btn-interests {
  background-color: transparent;
  border: 0;
}

.btn-interests:hover {
  background-color: #f1f1f1;
}

.interests-col {
  padding: 25px;
  padding-bottom: 0px;
}

.interests-col-2 {
  padding: 25px;
  padding-top: 0px;
}
